@font-face {
  font-family: "Geist-Light";
  src:
    url("../fonts/Geist/Geist-Light.woff2") format("woff2"),
    url("../fonts/Geist/Geist-Light.otf") format("otf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Geist-Regular";
  src:
    url("../fonts/Geist/Geist-Regular.woff2") format("woff2"),
    url("../fonts/Geist/Geist-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Geist-Medium";
  src:
    url("../fonts/Geist/Geist-Medium.woff2") format("woff2"),
    url("../fonts/Geist/Geist-Medium.otf") format("otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Geist-SemiBold";
  src:
    url("../fonts/Geist/Geist-SemiBold.woff2") format("woff2"),
    url("../fonts/Geist/Geist-SemiBold.otf") format("otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Geist-Bold";
  src:
    url("../fonts/Geist/Geist-Bold.woff2") format("woff2"),
    url("../fonts/Geist/Geist-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url(../fonts/Unbounded/Unbounded.woff2) format("woff2");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(../fonts/Unbounded/Unbounded-Ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
